version: '2.1'

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  queue: eddiewebb/queue@2.2.1

parameters:
  infra-build:
    type: boolean
    default: false
  app-build:
    type: boolean
    default: false

workflows:
  base-config:
    jobs:
      - queue/block_workflow:
          name: block_workflow_temporarily
          time: '10'
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            infra/.* infra-build << pipeline.parameters.infra-build >>
            (?!infra)/.* app-build
          requires:
            - block_workflow_temporarily

