# Use the latest 2.1 version of CircleCI pipeline process engine.
version: 2.1

orbs:
  node: circleci/node@5.1.0
  snyk: snyk/snyk@1.5.0
  aws-cli: circleci/aws-cli@3.1.2
  aws-s3: circleci/aws-s3@3.1.1

jobs:
  run_test:
    docker:
      - image: cimg/node:18.15.0
    steps:
      - checkout
      - run: sudo npm install
      - run:
          command: |
            npm run lint
            lint_exit_code=$?
            if [ $lint_exit_code -ne 0 ]; then
              exit $lint_exit_code
              echo "Linting failed with exit code: $lint_exit_code"
            fi
      # - run: mkdir ~/junit
      # - run:
      #     command: mocha test --reporter mocha-junit-reporter || true
      #     environment:
      #       MOCHA_FILE: ~/junit/test-results.xml
      #     when: always
      # - store_test_results:
      #     path: ~/junit

  vulnerability_scan:
    docker:
      - image: cimg/node:18.15.0
    steps:
      - checkout
      - run:
          name: Instance npm Dependencies
          command: |
            sudo pnpm install
      - run:
          name: Snyk Env Var
          command: |
            echo $SNYK_TOKEN
      # - snyk/scan
      - persist_to_workspace:
          root: .
          paths:
            - .

  build_app:
    parameters:
      env:
        type: string
        default: "dev"
    docker:
      - image: cimg/node:18.15.0
    steps:
<<<<<<< HEAD
      # - attach_workspace:
      #     at: .
=======
      - attach_workspace:
          at: .
>>>>>>> main
      - checkout
      # - run:
      #     name: Install npm Dependencies
      #     command: |
      #       sudo pnpm install
      - run:
          name: Run npm Build
          command: |
            pnpm run build
      - persist_to_workspace:
          root: .
          paths:
            - .

  copy_to_s3:
    docker:
      - image: cimg/python:3.8.15
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Check Dist Dir
          command: ls -la ./dist
      - aws-cli/setup
      - aws-s3/copy:
          from: ./dist
          to: s3://sumz-bucket/$BASE_VERSION.<< pipeline.number >>/
          arguments:
            --recursive
          when: on_success


workflows:
  test_build:
    jobs:
      - run_test:
          name: run_test_dev
          filters:
            branches:
              ignore:
              - main
      - vulnerability_scan:
          name: vulnerability_scan_dev
          requires:
            - run_test_dev
      - build_app:
          name: build_app_dev
          context: dev
          env: dev
          requires:
            - run_test_dev
            - vulnerability_scan_dev
      - copy_to_s3:
          name: copy_to_s3_dev
          context: dev
          requires:
            - build_app_dev

  test_build_deploy:
    jobs:
      - run_test:
          name: run_test_prod
          context: prod
          filters:
            branches:
              only:
              - main
          # requires:
          #   - copy_to_s3_dev
      - vulnerability_scan:
          name: vulnerability_scan_prod
          requires:
            - run_test_prod
      - build_app:
          name: build_app_prod
          context: prod
          env: prod
          requires:
            - run_test_prod
      - copy_to_s3:
          name: copy_to_s3_prod
          context: prod
          requires:
            - build_app_prod
