# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  test_var:
    docker:
      - image: cimg/node:18.11.0
    steps:
      - checkout
      - run:
          name: "Setup Custom Env. Variables"
          command: echo 'export MY_ENV_VAR="This works!"' >> "$BASH_ENV"
      - run:
          name: "Prepare for Cache"
          command: |
            echo '$VAR_AUTH0_CLIENT_ID' > VAR_AUTH0_CLIENT_ID.txt
            cat VAR_AUTH0_CLIENT_ID.txt
      - run:
          name: "Check Context Vars"
          environment:
            NEW_ENV_VAR: "Hello, world!"
          command: |
            echo $NEW_ENV_VAR
            echo 'export VAR_AUTH0_CLIENT_ID=${{context.dev.VAR_AUTH0_CLIENT_ID}}' >> "$BASH_ENV"
            echo $VAR_AUTH0_CLIENT_ID
      - run:
          name: "Show my Custom Env. Variables"
          command: |
            echo $MY_ENV_VAR
            echo $VAR_AUTH0_CLIENT_ID
      - run:
          name: "Show Context Env. Variables"
          command: |
            echo $VAR_AUTH0_CLIENT_ID
            echo $VAR_AUTH0_DOMAIN
  
workflows:
  env-var-workflow:
    jobs:
      - test_var:
          name: test_env_var
          context: dev
