# Use the latest 2.1 version of CircleCI pipeline process engine.
version: 2.1

orbs:
  node: circleci/node@5.1.0
  snyk: snyk/snyk@1.5.0

# Define a job to be invoked later in a workflow.
jobs:
  run_test:
    docker:
      - image: cimg/node:18.15.0
    steps:
      - checkout
      - run: sudo npm install
      - run: mkdir ~/junit
      - run:
          command: mocha test --reporter mocha-junit-reporter || true
          environment:
            MOCHA_FILE: ~/junit/test-results.xml
          when: always
      - store_test_results:
          path: ~/junit


  vulnerability_scan:
    docker:
      - image: cimg/node:18.15.0
    steps:
      - checkout
      - run:
          name: Instance npm Dependencies
          command: |
            sudo npm install -g
      - snyk/scan

  build_app:
    docker:
      - image: cimg/node:18.15.0
    steps:
      - checkout
      - run:
          name: Install npm Dependencies
          command: |
            sudo npm install -g
      - run:
          name: Run npm Build
          command: |
            npm build
            ls -la ./dist
      - persist_to_workspace:
          root: .
          paths:
            - .

  # copy_to_s3:
  #   docker:
  #     - image: cimg/node:19.8.0
  #   steps:
  #     - checkout
  #     - attach_workspace:
  #         at: .
  #     - run:
  #         name: Check Dist Dir
  #         command: ls -la ./dist


workflows:
  env-var-workflow:
    jobs:
      - run_test:
          name: run_test
          context: dev
      - vulnerability_scan:
          name: vulnerability_scan
          requires:
            - run_test
      - build_app:
          name: build_app
          context: dev
      # - copy_to_s3:
      #     name: copy_to_s3
      #     context: dev
      #     requires:
      #       - vulnerability_scan
      #       - build_app
