version: '2.1'

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0
  queue: eddiewebb/queue@2.2.1

workflows:
  generate-config:
    jobs:
      - queue/block_workflow:
          name: block_workflow_temporarily
          time: '10'
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            infra/.* infra-build true
            (?!infra)/.* app-build true

